.box
  %h2 
    %strong Dong Liang
  .basic_info.clearfix
    %dl      
      %dt Gender
      %dd male
      
      %dt Date of birth
      %dd 1984-03
      
      %dt Current location
      %dd Huizhou, Guangdong
      
      %dt Work experience 
      %dd 3 years
  
  %p
  %h3.quiet Education
  .basic_info.clearfix
    %dl
      %dt University
      %dd Notheastern University (2004-2008)
      
      %dt Degree
      %dd Bachelor of Engineering
      
      %dt Major
      %dd Software Engineering
      
      %dt English
      %dd CET-6
  
  %p    
  %h3.quiet Current job
  .basic_info.clearfix
    %dl
      %dt Company
      %dd
        = link_to "Huizhou Foryou General Electronics Co.,Ltd", "http://www.foryouge.com", :target => "_blank"
      
      %dt Department
      %dd Advanced Technology Department
      
      %dt Project
      %dd Foryou TSP(Telematics Service Provider) Platform
      
      %dt Position
      %dd Java Engineer
      
      %dt Role
      %dd Team Leader of TSP Operator System(sub-system of TSP)
  %p    
  %h3.quiet Contact me
  .basic_info.clearfix
    %dl
      %dt Email
      %dd kobeld@163.com
      
      %dt Mobile
      %dd 18665260755
      
      %dt QQ
      %dd 149999265
      
      %dt Others
      %dd
        = link_to "weibo", "http://weibo.com/kobeld", :target => "_blank"
        = " | "
        = link_to "blog", "http://kobeld.blog.163.com", :target => "_blank"
        = " | "
        = link_to "github", "https://github.com/kobeld", :target => "_blank"
        