%ul
  %li.answer{:style => "font-size: 1.4em; color:blue "} 
    The answers
  %li= link_to_unless_current "Welcome", root_path
  %li= link_to_unless_current "Goole Weather", weather_path
  %li= link_to_unless_current "Duplicated users", dup_users_path
  %li= link_to_unless_current "Files operation", files_path
  %li= link_to_unless_current "Git usage", git_path
  %li= link_to_unless_current "Linux usage", linux_path 
  %li= link_to_unless_current "CSS usage", css_path
  %li.about_me{:style => "font-size: 1.4em; color:blue; margin-top: 0.5em "}
    About me
  %li= link_to_unless_current "Basic info", basic_info_path
  %li= link_to_unless_current "Showcase", showcase_path
  %li= link_to_unless_current "Why the Plant", why_path