!!!
%html
  %head
    %title Planting
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = javascript_include_tag :defaults
  
  %body.bp.two-col
    #header
      = render "layouts/header"  
    #container
      #sidebar
        = render "layouts/sidebar"
      #content
        = yield
      
